.box{
    display: inline-block;
    margin: 5px;
    padding: 3px;
    text-align: center;
}




div.box:hover{
    background-color: red;
}


.input{
    display: inline-block;
    margin: 5px;
    padding: 3px;
    text-align: center;
}

.edit {

    min-height: 400px;
}

.charwindow{
    min-height: 400px;
    min-width: 60%;

}

.center{
    text-align: center;
}

.inline{
    display: inline-block;
    width: 40px;
}

.fullheight{
    height: 100%;
}

.smallbutton{
    width: 120px;
    display: inline-block;
}

.selected{
    background-color: gray;
    min-height: 400px;
}

.portrait{
    width: 100px;
    height:100px;
}

.padding{
    padding: 3px;
    margin: 10px;
}

.quick {
    width:200px;
    display: inline;
}

.teamBox {
    min-height: 350px;
    display: block;
    text-align: center;
    outline: 2px solid black;
}
