<div class="col-md-4" ng-show="tab == 6">
    <h1>Feats and Traits</h1>

    <div>Feat Name:<input type="input" class="form-control" value="FeatName" ng-model="tempFeat.name" /></div>
    <div>Feat Desc:<input type="input" class="form-control" value="Feat Desc" ng-model="tempFeat.desc" /></div>
    <div>Feat URL:<input type="input" class="form-control" value="Feat URL" ng-model="tempFeat.url" /></div>
    <br />
    <input type="button" class="form-control" value="Add Feat" ng-click="addFeat()" />
    <br />
    <input type="button" value="Next Tab" ng-click="tabMod(7)" />
    <br  />
</div>
