<div class="col-md-4">
    <div>acrobatics<input type="input" class="form-control" value="name" ng-model="template.skills.acrobatics" /></div>
    <div>animalHandling<input type="input" class="form-control" value="name" ng-model="template.skills.animalHandling" /></div>
    <div>arcana<input type="input" class="form-control" value="name" ng-model="template.skills.arcana" /></div>
    <div>athletics<input type="input" class="form-control" value="name" ng-model="template.skills.athletics" /></div>
    <div>deception<input type="input" class="form-control" value="name" ng-model="template.skills.deception" /></div>
    <div>history<input type="input" class="form-control" value="name" ng-model="template.skills.history" /></div>
    <div>insight<input type="input" class="form-control" value="name" ng-model="template.skills.insight" /></div>
    <div>intimidation<input type="input" class="form-control" value="name" ng-model="template.skills.intimidation" /></div>
    <div>investigation<input type="input" class="form-control" value="name" ng-model="template.skills.investigation" /></div>
    <div>medicine<input type="input" class="form-control" value="name" ng-model="template.skills.medicine" /></div>
    <div>Nature<input type="input" class="form-control" value="name" ng-model="template.skills.Nature" /></div>
    <div>Perception<input type="input" class="form-control" value="name" ng-model="template.skills.Perception" /></div>
    <div>Perf<input type="input" class="form-control" value="name" ng-model="template.skills.Perf" /></div>
    <div>Persuasion<input type="input" class="form-control" value="name" ng-model="template.skills.Persuasion" /></div>
    <div>religion<input type="input" class="form-control" value="name" ng-model="template.skills.religion" /></div>
    <div>sleightofhand<input type="input" class="form-control" value="name" ng-model="template.skills.sleightofhand" /></div>
    <div>stealth<input type="input" class="form-control" value="name" ng-model="template.skills.stealth" /></div>
    <div>survival<input type="input" class="form-control" value="name" ng-model="template.skills.survival" /></div>
    <input type="button" value="Next Tab" ng-click="tabMod(2)" />
</div>
