<div class="col-md-12">
    <div><input type="button" value="Next Tab" ng-click="tabMod(2)" /></div>
    <div>Strength:<input type="input" class="form-control" value="strength" ng-model="template.stats.strength" /></div>
    <div>Dexterity:<input type="input" class="form-control" value="dex" ng-model="template.stats.dex" /></div>
    <div>Constitution:<input type="input" class="form-control" value="con" ng-model="template.stats.con" /></div>
    <div>Intelligence:<input type="input" class="form-control" value="intelligence" ng-model="template.stats.intel" /></div>
    <div>Wisdom:<input type="input" class="form-control" value="wisdom" ng-model="template.stats.wisdom" /></div>
    <div>Charisma:<input type="input" class="form-control" value="charisma" ng-model="template.stats.charisma" /></div>
</div>
